{
  "openapi": "3.1.0",
  "info": {
    "title": "Depositphotos Partner API",
    "description": "The Depositphotos Partner API enables registered members to search the catalog of 331M+ stock assets, preview files, manage lightboxes, handle user accounts, and earn referral revenue from stock file sales. All calls use HTTP GET or POST with JSON responses and session-based authentication.",
    "version": "1.3",
    "contact": {
      "url": "https://api.depositphotos.com/doc/"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://depositphotos.com/api-plans.html"
    }
  },
  "servers": [
    {
      "url": "https://api.depositphotos.com",
      "description": "Depositphotos API production server"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "Login",
        "operationId": "login",
        "description": "Authenticate an API client using username and password to receive a session token valid for three hours.",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": ["dp_apikey", "dp_command", "dp_login_user", "dp_login_password"],
                "properties": {
                  "dp_command": {
                    "type": "string",
                    "enum": ["login"],
                    "description": "API command identifier"
                  },
                  "dp_apikey": {
                    "type": "string",
                    "description": "API key issued to the registered developer"
                  },
                  "dp_login_user": {
                    "type": "string",
                    "description": "Account username"
                  },
                  "dp_login_password": {
                    "type": "string",
                    "description": "Account password"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/BaseResponse" },
                    {
                      "type": "object",
                      "properties": {
                        "sessionid": {
                          "type": "string",
                          "description": "Session identifier valid for 3 hours"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BaseResponse": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "description": "Response timestamp in YYYY-MM-DD HH:MI:SS format"
          },
          "version": {
            "type": "string",
            "description": "API version",
            "example": "1.3"
          },
          "type": {
            "type": "string",
            "enum": ["success", "failure"],
            "description": "Response result type"
          }
        }
      },
      "ErrorResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/BaseResponse" },
          {
            "type": "object",
            "properties": {
              "errormsg": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "errorcode": {
                "type": "integer",
                "description": "Numeric error code"
              },
              "exception": {
                "type": "string",
                "description": "Exception type"
              }
            }
          }
        ]
      },
      "SearchRequest": {
        "type": "object",
        "required": ["dp_apikey", "dp_command"],
        "properties": {
          "dp_command": {
            "type": "string",
            "enum": ["search"],
            "description": "API command identifier"
          },
          "dp_apikey": {
            "type": "string",
            "description": "API key"
          },
          "dp_session_id": {
            "type": "string",
            "description": "Session identifier"
          },
          "dp_search_query": {
            "type": "string",
            "description": "Search query text"
          },
          "dp_search_user": {
            "type": "string",
            "description": "Filter by contributor user ID"
          },
          "dp_search_username": {
            "type": "string",
            "description": "Filter by contributor username"
          },
          "dp_search_limit": {
            "type": "integer",
            "description": "Number of results to return (max 200)",
            "maximum": 200,
            "default": 100
          },
          "dp_search_offset": {
            "type": "integer",
            "description": "Offset for pagination",
            "default": 0
          },
          "dp_search_photo": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Include photos (1=yes, 0=no)"
          },
          "dp_search_vector": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Include vectors (1=yes, 0=no)"
          },
          "dp_search_video": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Include videos (1=yes, 0=no)"
          },
          "dp_search_nudity": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Include nudity (1=yes, 0=no)"
          },
          "dp_search_imagesize": {
            "type": "string",
            "description": "Minimum image size filter",
            "enum": ["s", "m", "l", "xl", "xxl", "xxxl"]
          },
          "dp_search_orientation": {
            "type": "string",
            "enum": ["horizontal", "vertical", "square"],
            "description": "Orientation filter"
          },
          "dp_search_color": {
            "type": "string",
            "description": "Color filter (hex value without #)"
          },
          "dp_search_sort": {
            "type": "string",
            "enum": ["best_match", "newest", "popular", "undiscovered"],
            "description": "Sort order for results"
          },
          "dp_lang": {
            "type": "string",
            "description": "Language for localized content"
          },
          "dp_search_correction": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Apply query spelling correction"
          },
          "dp_affiliate_id": {
            "type": "integer",
            "description": "Affiliate identifier"
          },
          "dp_last_update_time": {
            "type": "string",
            "description": "Unix timestamp to filter recently updated content"
          }
        }
      },
      "MediaItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique media item identifier"
          },
          "title": {
            "type": "string",
            "description": "Item title"
          },
          "description": {
            "type": "string",
            "description": "Item description"
          },
          "width": {
            "type": "integer",
            "description": "Image width in pixels"
          },
          "height": {
            "type": "integer",
            "description": "Image height in pixels"
          },
          "author": {
            "type": "string",
            "description": "Contributor username"
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "description": "Thumbnail URL"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Preview URL"
          },
          "status": {
            "type": "string",
            "description": "Item status"
          },
          "mediatype": {
            "type": "string",
            "enum": ["image", "vector", "video"],
            "description": "Type of media"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "name": { "type": "string" }
              }
            }
          },
          "tags": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Keywords/tags for the item"
          }
        }
      },
      "SearchResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/BaseResponse" },
          {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "description": "Total number of matching results"
              },
              "result": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MediaItem" }
              }
            }
          }
        ]
      },
      "LightboxItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Lightbox identifier"
          },
          "title": {
            "type": "string",
            "description": "Lightbox title"
          },
          "description": {
            "type": "string",
            "description": "Lightbox description"
          },
          "public": {
            "type": "integer",
            "enum": [0, 1],
            "description": "Whether lightbox is public"
          },
          "count": {
            "type": "integer",
            "description": "Number of items in lightbox"
          }
        }
      },
      "UserData": {
        "type": "object",
        "properties": {
          "username": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "country": { "type": "string" },
          "creditsAmount": { "type": "number" },
          "filesAmount": { "type": "integer" },
          "subscriptions": {
            "type": "array",
            "items": { "type": "object" }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyParam": {
        "type": "apiKey",
        "in": "query",
        "name": "dp_apikey",
        "description": "API key issued to the registered developer"
      },
      "SessionId": {
        "type": "apiKey",
        "in": "query",
        "name": "dp_session_id",
        "description": "Session identifier obtained from login response, valid for 3 hours"
      }
    }
  },
  "x-commands": {
    "authentication": {
      "login": "Authenticate API client, returns sessionid",
      "loginAsUser": "Authenticate application user, returns sessionid and userid",
      "logout": "End session",
      "getAuthToken": "Get authorization token for mobile/web apps",
      "registerNewUser": "Register a new user account",
      "recoverPassword": "Send password recovery email"
    },
    "search": {
      "search": "Search assets by query, user, filters",
      "searchHint": "Autocomplete suggestions for search queries",
      "getCategoriesList": "Get all available asset categories",
      "getTagCloud": "Get 30 popular search queries with popularity ratings",
      "getMediaData": "Get full metadata for a specific media item",
      "getMediaDataAsUser": "Get media data plus user transaction history",
      "getMediaKeywords": "Get keywords/tags for a media item",
      "getRelated": "Get related, same-model, or same-series items",
      "getSeries": "Get all items in an image series",
      "getChangedItems": "Get newly published items in a date range"
    },
    "lightbox": {
      "createLightbox": "Create a new lightbox",
      "getLightboxes": "List all user lightboxes",
      "getLightbox": "Get contents of a specific lightbox",
      "addToLightbox": "Add a media item to a lightbox",
      "removeFromLightbox": "Remove a media item from a lightbox",
      "removeLightbox": "Delete a lightbox",
      "updateLightbox": "Update lightbox metadata",
      "searchInLightbox": "Search within a lightbox"
    },
    "purchase": {
      "getMedia": "Purchase and get download link for a media item",
      "reDownload": "Re-download a previously purchased item",
      "getPurchases": "List purchased items",
      "getLicense": "Get license type for a purchase",
      "getTransactions": "Get transaction history for a date range",
      "getManagersTransactions": "Get manager transaction history",
      "getRestrictedSellers": "List sellers who have blocked the current user"
    },
    "user": {
      "getUserData": "Get user profile information",
      "updateUser": "Update user profile",
      "changePassword": "Change account password",
      "availableFunds": "Get subscription and credit balance info",
      "getInvoices": "List user invoices",
      "getUpdatedSellerTransactions": "Get seller transaction history",
      "getUserSearchHintAction": "Get user suggestions based on prefix",
      "getIndustryList": "Get available industry options",
      "getUploadAvatarUrl": "Get URL for avatar upload"
    }
  }
}
