openapi: 3.2.0
info:
  title: Depositphotos Partner Authentication API
  description: The Depositphotos Partner API enables registered members to search the catalog of 331M+ stock assets, preview files, manage lightboxes, handle user accounts, and earn referral revenue from stock file sales. All calls use HTTP GET or POST with JSON responses and session-based authentication.
  version: '1.3'
  contact:
    url: https://api.depositphotos.com/doc/
  license:
    name: Proprietary
    url: https://depositphotos.com/api-plans.html
servers:
- url: https://api.depositphotos.com
  description: Depositphotos API production server
tags:
- name: Authentication
paths:
  /:
    post:
      summary: Login
      operationId: login
      description: Authenticate an API client using username and password to receive a session token valid for three hours.
      tags:
      - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - dp_apikey
              - dp_command
              - dp_login_user
              - dp_login_password
              properties:
                dp_command:
                  type: string
                  enum:
                  - login
                  description: API command identifier
                dp_apikey:
                  type: string
                  description: API key issued to the registered developer
                dp_login_user:
                  type: string
                  description: Account username
                dp_login_password:
                  type: string
                  description: Account password
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BaseResponse'
                - type: object
                  properties:
                    sessionid:
                      type: string
                      description: Session identifier valid for 3 hours
components:
  schemas:
    BaseResponse:
      type: object
      properties:
        timestamp:
          type: string
          description: Response timestamp in YYYY-MM-DD HH:MI:SS format
        version:
          type: string
          description: API version
          example: '1.3'
        type:
          type: string
          enum:
          - success
          - failure
          description: Response result type
  securitySchemes:
    ApiKeyParam:
      type: apiKey
      in: query
      name: dp_apikey
      description: API key issued to the registered developer
    SessionId:
      type: apiKey
      in: query
      name: dp_session_id
      description: Session identifier obtained from login response, valid for 3 hours
x-commands:
  authentication:
    login: Authenticate API client, returns sessionid
    loginAsUser: Authenticate application user, returns sessionid and userid
    logout: End session
    getAuthToken: Get authorization token for mobile/web apps
    registerNewUser: Register a new user account
    recoverPassword: Send password recovery email
  search:
    search: Search assets by query, user, filters
    searchHint: Autocomplete suggestions for search queries
    getCategoriesList: Get all available asset categories
    getTagCloud: Get 30 popular search queries with popularity ratings
    getMediaData: Get full metadata for a specific media item
    getMediaDataAsUser: Get media data plus user transaction history
    getMediaKeywords: Get keywords/tags for a media item
    getRelated: Get related, same-model, or same-series items
    getSeries: Get all items in an image series
    getChangedItems: Get newly published items in a date range
  lightbox:
    createLightbox: Create a new lightbox
    getLightboxes: List all user lightboxes
    getLightbox: Get contents of a specific lightbox
    addToLightbox: Add a media item to a lightbox
    removeFromLightbox: Remove a media item from a lightbox
    removeLightbox: Delete a lightbox
    updateLightbox: Update lightbox metadata
    searchInLightbox: Search within a lightbox
  purchase:
    getMedia: Purchase and get download link for a media item
    reDownload: Re-download a previously purchased item
    getPurchases: List purchased items
    getLicense: Get license type for a purchase
    getTransactions: Get transaction history for a date range
    getManagersTransactions: Get manager transaction history
    getRestrictedSellers: List sellers who have blocked the current user
  user:
    getUserData: Get user profile information
    updateUser: Update user profile
    changePassword: Change account password
    availableFunds: Get subscription and credit balance info
    getInvoices: List user invoices
    getUpdatedSellerTransactions: Get seller transaction history
    getUserSearchHintAction: Get user suggestions based on prefix
    getIndustryList: Get available industry options
    getUploadAvatarUrl: Get URL for avatar upload
